*.aux
*.log
*.pdf
*.gz
*.toc
*.out
*.idx
*.nlo
*.bbl
*.blg

HCI_Latex_Document/src/Hauptdatei.aux
HCI_Latex_Document/src/Hauptdatei.log
HCI_Latex_Document/src/Hauptdatei.pdf
HCI_Latex_Document/src/Hauptdatei.synctex.gz
HCI_Latex_Document/src/Hauptdatei.toc
